<%- include("header") -%>

<h2>Esta é a página Sobre Nós</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius natus aperiam illo provident, facilis, consequuntur in iusto quod laboriosam doloribus, porro distinctio! Expedita cupiditate cumque repudiandae perspiciatis nam perferendis minima.</p>

<%- include("footer") -%>
